.dark-theme .add-todo-form {
  background: var(--very-dark-desaturated-blue);
}
.light-theme .add-todo-form {
  background: #fff;
}

.add-todo-form {
  width: 100%;
  padding: 1.4rem 1.4rem;
  margin-bottom: 1.6rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.add-todo-input {
  color: inherit;
  background: transparent;
  border: 0;
  width: 100%;
  margin-left: 2rem;
  font-size: 1rem;
}

.add-todo-input:focus {
  outline: none;
}

@media (max-width: 800px) {
  .add-todo-form {
    padding: 1rem 1.4rem;
  }
}
