.dark-theme .todo-list {
  background: var(--very-dark-desaturated-blue);
}
.dark-theme .todo-footer {
  background: var(--very-dark-desaturated-blue);
}

.light-theme .todo-list {
  background: #fff;
}
.light-theme .todo-footer {
  background: #fff;
}

.todo-list {
  border-radius: 4px;
  box-shadow: 0 11.6px 9px -9px rgba(0, 0, 0, 0.014),
    0 23.9px 18.8px -9px rgba(0, 0, 0, 0.02),
    0 42.3px 34px -9px rgba(0, 0, 0, 0.026),
    0 117px 94px -9px rgba(0, 0, 0, 0.04);
}

.dark-theme .todo-item {
  border-bottom: 1px solid var(--very-dark-grayish-blue-200);
}

.light-theme .todo-item {
  border-bottom: 1px solid var(--light-grayish-blue);
}
.todo-item {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid var(--very-dark-grayish-blue-200);
}

.todo-text {
  margin-left: 2rem;
  color: var(--dark-grayish-blue);
}

.todo-item-delete {
  cursor: pointer;
  margin-left: auto;
  border: 0;
  background: inherit;
  color: inherit;
}

.todo-footer {
  font-weight: bold;
  font-size: 0.82rem;
  color: var(--very-dark-grayish-blue-100);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
}

.todo-filters {
  display: flex;
  .todo-filter:hover {
    color: var(--light-grayish-blue-200);
  }
  .active {
    color: var(--bright-blue);
  }
  .todo-filter + .todo-filter {
    margin-left: 1rem;
  }
}

.dark-theme .mobile-only .todo-filters {
  color: var(--very-dark-grayish-blue-100);
  background: var(--very-dark-desaturated-blue);
}

.light-theme .mobile-only .todo-filters {
  background: var(--very-light-gray);
}
.mobile-only .todo-filters {
  justify-content: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  padding: 0.84rem;
  border-radius: 4px;
  box-shadow: 0 11.6px 9px -1px rgba(0, 0, 0, 0.014),
    0 23.9px 18.8px -1px rgba(0, 0, 0, 0.02),
    0 42.3px 34px -1px rgba(0, 0, 0, 0.026),
    0 117px 94px -1px rgba(0, 0, 0, 0.04);
}

.clear-complete {
  cursor: pointer;
  background: inherit;
  color: inherit;
  border: 0;
}
.clear-complete:hover {
  color: var(--light-grayish-blue-200);
}

@media (max-width: 800px) {
  .todo-item {
    padding: 1rem 1.4rem;
  }
}
